.tiptap .is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap {
  min-height: 100vh;
  text-align: left;
}

.tiptap {
  outline: none;
}


/* Dropdown menu */
/* .dropdown-menu {
  background: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 0.7rem;
  box-shadow: 0 4px 8px #0000001A;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  overflow: auto;
  padding: 0.4rem;
  position: relative;
}

.dropdown-menu button {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 0.25rem;
  text-align: left;
  width: 100%;
}

.dropdown-menu button:hover,
.dropdown-menu button:hover.is-selected {
  background-color: #b3b3b3;
}

.dropdown-menu button.is-selected {
  background-color: #cccccc;
} */
